<ion-header style="--background: blue">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{edit ? "Editar Produto" : "Criar produto"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <div class="div-col">
        <ion-row>
          <ion-col class="col-set" size="12">
            <label class="label-set" for="input">Nome</label>
          </ion-col>
          <ion-col class="col-set" size="12">
            <input class="input-set" name="input" type="text" [(ngModel)]="productForm.name">
          </ion-col>
        </ion-row>
      </div>
    </ion-row>
    <ion-row>
      <div class="div-col">
        <ion-row>
          <ion-col class="col-set" size="12">
            <label class="label-set" for="input">Preço</label>
          </ion-col>
          <ion-col class="col-set" size="12">
            <input class="input-set" name="input" type="number" [(ngModel)]="productForm.price">
          </ion-col>
        </ion-row>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <div class="footer">
    <ion-button fill="outline" mode="ios">Cancelar</ion-button>
    <ion-button mode="ios" (click)="submitProduct()">Salvar</ion-button>
  </div>
</ion-footer>
