.label-set {
  font-size: 13px;
}

.input-set {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  border-color: #CCC;
  border-style: groove;
  height: 30px;
}

.col-set {
  padding: 0px !important;
}

.div-col {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 3px 7px;
}
