<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button mode="ios">
          History
        </ion-button>
        <ion-button mode="ios">
          Favorites
        </ion-button>
        <ion-button mode="ios" (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>My dictionary</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding background">
    <ion-card>
      <ion-row>
        <ion-col>Word</ion-col>
        <ion-col>Favorite</ion-col>
      </ion-row>
      <ion-row class="line-set" *ngFor="let word of holdWords">
        <ion-col (click)="getWord(word)">{{ word.word }}</ion-col>
        <ion-col>
          <ion-icon [name]="word.favorite ? 'heart' : 'heart-outline'"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-content>
</div>
